@CHARSET "UTF-8";

table{
	font-weight: bold;
	
}
.image{
	  background-image: url("summonersRift.jpg");
	  background-size:cover;
	  text-align:center;
	  color:Purple;
} 

.wrapper{
	text-align: center;
	margin-left: 30%;
	width: 50%;
	color: blue;
}

.addForm{
	text-align: center;
	margin-bottom: 50%;
	width: 50%;
}

th{	
	color: Red;
}

label{
	color: Orange;
}

td{
	color: blue;
}